<div id="rtree" style="width:100%;min-height:560px;"></div>
<ol class="list-inline rtree-content">
    <li class="rtree-item">
        <div class="rtree-header">
            <span class="headr-block">数据中心</span>
            <span class="headr-selfw">查看详情</span>
        </div>
        <div class="rtree-body">
            <h5></h5>
            <ul class="list-inline">
                <li><span style="font-size:3rem">100</span>机房</li>
                <li class="divide-line"></li>
                <li><span style="font-size:3rem">12.8K</span>设备</li>
            </ul>
        </div>
    </li>
    <li class="rtree-item">
        <div class="rtree-header">
            <span class="headr-block">阿里云</span>
            <span class="headr-selfw">查看详情</span>
        </div>
        <div class="rtree-body">
            <h5></h5>
            <ul class="list-inline">
                <li><span style="font-size:3rem">500</span>设备</li>
            </ul>
        </div>
    </li>
    <li class="rtree-item">
        <div class="rtree-header">
            <span class="headr-block">AWS</span>
            <span class="headr-selfw">查看详情</span>
        </div>
        <div class="rtree-body">
            <h5></h5>
            <ul class="list-inline">
                <li><span style="font-size:3rem">12.8K</span>设备</li>
            </ul>
        </div>
    </li>
    <li class="rtree-item">
        <div class="rtree-header">
            <span class="headr-block">虚拟化</span>
            <span class="headr-selfw">查看详情</span>
        </div>
        <div class="rtree-body">
            <h5></h5>
            <ul class="list-inline">
                <li><span style="font-size:3rem">800</span>设备</li>
            </ul>
        </div>
    </li>
</ol>