<!--<div class="row" ng-controller="resourcesController" >

</div>-->
<!--<div id="leftmenu" ng-class="{false:'col-lg-2 col-md-2 col-sm-3 col-xs-12',true:'sidebar' }[sidebarToggler]">
    <div ng-class="{false:'sidebar-side',true:'sidebar-side page-sidebar-closed'}[sidebarToggler]" >
        <div class="sidebar-toggler" ng-click="Toggler()"></div>
        <ul class="page-sidebar-menu" style="display: block">
            <li ng-repeat="item in datas" ui-sref-active="active">
                <a href="javascript:;" ui-sref="root.manageresources.//item.Name//">
                    <i class="fa //item.Icon//"></i>
                    <span class="title">//item.Description//</span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div ng-class="{false:'col-lg-10 col-md-10 col-sm-9 col-xs-12',true:'sidebar-content'}[sidebarToggler]" ui-view style="padding-left: 0px;"></div>-->

