<div ncy-breadcrumb></div>
<div class="portlet box blue" ng-controller="BandwidthListController">
    <div class="searchBar">
        <div class="pull-right">
            <button type="button" ng-click="action.showSearch()" class="btn btn-default select">
                筛选<i class="glyphicon glyphicon-glass"></i>
            </button>
            <button ng-click="action.showAddBandwidth();" class="btn btn-blues">
                <i class="glyphicon glyphicon-plus"></i> 添加宽带
            </button>
        </div>
    </div>
    <table bs-table-control="bandwidthTable"></table>

    <!--筛选 START-->
    <div ng-show="bandwidthscreen" ng-class="{true:'editMenu',false:'editMenuhide'}[isActive]">
        <div class="editMenu-header">
            <div class="editMenu-screen"><i class="glyphicon glyphicon-glass"></i> 筛选</div>
            <div class="editMenu-clear-screen" ng-click="action.clearAll()">清除所有筛选</div>
        </div>
        <div class="editMenu-body">
            <div class="editMenu-itme">
                <label>宽带名称</label>
                <input type="text" class="form-control" placeholder="请输入宽带名称" ng-model="search.searchText">
            </div>
            <div class="editMenu-itme">
                <p>宽带状态</p>
                <ul class="list-inline">
                    <li ng-repeat="state in bandwidthStateList">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" ng-model="search.bandwidthState[state.Id]"/>{{state.State}}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="editMenu-itme">
                <p>网络服务提供商</p>
                <ul class="list-inline">
                    <li ng-repeat="isp in ispList">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" ng-model="search.bandwidthIsp[isp.Id]"/>{{isp.Name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="editMenu-footer">
            <div class="searchBar text-center">
                <button type="button" class="btn btn-close" ng-click="action.hideSearch()">取消</button>
                <button type="submit" class="btn btn-blues" ng-click="action.searchAll()">搜索</button>
            </div>
        </div>
    </div>
    <!--筛选 END-->

    <!--编辑带宽弹出框 START-->
    <div ng-show="bandwidthedits" ng-class="{true:'editMenu',false:'editMenuhide'}[isActive]">
        <div class="editMenu-header">
            <label class="header">
                <i class="glyphicon glyphicon-edit"></i> 编辑宽带
                <input type="hidden" ng-model="bandwidth.editId" class="hidden">
            </label>
            <div class="edit-exits" ng-click="action.hideeditbandwidth()">&times;</div>
        </div>
        <div class="editMenu-body" id="bandwidthEditForm">
            <div class="item">
                <span class="col-md-5">名称<span class="required">*</span></span>
                <input type="text" name="editName" ng-model="bandwidth.editName" class="col-md-7" placeholder="请输入名称">
            </div>
            <div class="item">
                <span class="col-md-5">状态<span class="required">*</span></span>
                <select class="col-md-7" ng-model="bandwidth.bandwidthStateSelected"
                        ng-options="data.Id as data.State for data in bandwidthStateList">
                    <option value="">---请选择---</option>
                </select>
            </div>
            <div class="item">
                <span class="col-md-5">网络服务提供商<span class="required">*</span></span>
                <select class="col-md-7" ng-model="bandwidth.ispSelected"
                        ng-options="data.Id as data.Name for data in ispList">
                    <option value="">---请选择---</option>
                </select>
            </div>
            <div class="item">
                <span class="col-md-5">最大宽带(百兆)<span class="required">*</span></span>
                <input type="text" class="col-md-7" ng-model="bandwidth.editMaxBandwidth"
                       name="editMaxBandwidth"
                       placeholder="采购最大宽兆">
            </div>
            <div class="item">
                <span class="col-md-5">保底带宽(百兆)<span class="required">*</span></span>
                <input type="text" class="col-md-7" ng-model="bandwidth.editMinBandwidth"
                       name="editMinBandwidth" placeholder="保底带宽">
            </div>
            <div class="item">
                <span class="col-md-5">保底费用(元)<span class="required">*</span></span>
                <input type="text" class="col-md-7" maxlength="20" ng-model="bandwidth.editMinCost"
                       name="editMinCost" placeholder="保底费用">
            </div>
            <div class="item">
                <span class="col-md-5">成本(元/百兆)</span>
                <input type="text" class="col-md-7" ng-model="bandwidth.editUnitCost" name="editUnitCost"
                       placeholder="单位成本">
            </div>
            <div class="item">
                <span class="col-md-5">所属机房</span>
                <select class="col-md-7"
                        ng-model="bandwidth.roomSelected"
                        ng-options="rows.RoomId as rows.RoomName for rows in roomList">
                    <option value="">---请选择---</option>
                </select>
            </div>
            <div class="item">
                <span class="col-md-5">所属机柜</span>
                <select class="col-md-7" ng-model="bandwidth.rackSelected"
                        ng-options="rows.RackId as rows.RackName for rows in rackList">
                    <option value="">---请选择---</option>
                </select>
            </div>
            <div class="item">
                <span class="col-md-5">备注</span>
                <input type="text" class="col-md-7" name="editComment" ng-model="bandwidth.editComment" placeholder="备注">
            </div>
            <div class="editMenu-footer">
                <div class="searchBar text-center">
                    <a class="btn btn-remover a-del" type="button" ng-click="action.bdremove()">删除此宽带</a>
                    <button type="button" class="btn btn-close" ng-click="action.hideeditbandwidth();">取消</button>
                    <button type="submit" class="btn btn-blues" ng-click="action.updateBandwidth();">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑带宽弹出框 END-->

    <!--带宽状态列表 START-->
    <div id="bandwidth_state_list" class="modal fade bs-modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">带宽状态列表</h4>
                </div>
                <div class="modal-body">
                    <div class="portlet-body">
                        <div class="table-toolbar" id="bandwidthState_toolbar">
                            <button class="btn btn-primary" data-toggle="modal" href="#addBandwidthState">
                                <i class="fa fa-plus"></i>
                                添加状态
                            </button>
                        </div>
                        <table id="bandwidthState_table"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--带宽状态列表 END-->

    <!--编辑带宽状态弹出框 START-->
    <div id="edit_bandwidthState_dialog" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">编辑带宽状态</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                        <div class="portlet-body form">
                            <div class="form-horizontal" role="form">
                                <input type="hidden" id="editBandwidthStateId"/>
                                <div class="form-body">
                                    <div class="form-group has-success">
                                        <label class="col-md-3 control-label">带宽状态</label>
                                        <div class="col-md-9">
                                            <div class="input-icon">
                                                <i class="fa fa-bars"></i>
                                                <input class="form-control" id="editBandwidthState">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-close">取消</button>
                    <button type="submit" class="btn btn-blues"
                            ng-click="bandwidthState.updateBandwidthState();">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑带宽状态弹出框 END-->

    <!--网络服务提供商列表 START-->
    <div id="isp_list" class="modal fade bs-modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">网络服务提供商列表</h4>
                </div>
                <div class="modal-body">
                    <div class="portlet-body">
                        <div class="table-toolbar" id="isp_toolbar">
                            <button class="btn btn-primary" data-toggle="modal" href="#addIsp">
                                <i class="fa fa-plus"></i>
                                添加网络服务提供商
                            </button>
                        </div>
                        <table id="isp_table"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--网络服务提供商列表 END-->

    <!--编辑网络服务提供商弹出框 START-->
    <div id="edit_isp_dialog" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="modal-title">编辑网络服务提供商</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                        <div class="portlet-body form">
                            <div class="form-horizontal" role="form">
                                <input type="hidden" id="editIspId"/>
                                <div class="form-body">
                                    <div class="form-group has-success">
                                        <label class="col-md-3 control-label">网络服务提供商</label>
                                        <div class="col-md-9">
                                            <div class="input-icon">
                                                <i class="fa fa-bars"></i>
                                                <input class="form-control"
                                                       id="editInternetServiceProvider">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-close">取消</button>
                    <button type="submit" class="btn btn-blues"
                            ng-click="internetProvider.updateInternetProvider();">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑网络服务提供商弹出框 END-->
</div>
<!--添加带宽弹出框 START-->
<script id="add_bandwidth_dialog.html" type="text/ng-template">
    <form class="inside-content" ng-submit="addBandwidth()" name="addBandwidthForm">
        <div class="modal-header">
            <h5 class="modal-title">添加宽带
                <span class="add-close" ng-click="addBandwidthCancel()">&times;</span>
            </h5>
        </div>
        <div class="modal-body" id="bandwidthAddForm">
            <div class="item">
                <label class="col-md-5">带宽名称<span class="required">*</span></label>
                <div class="col-md-7">
                    <input type="text" name="name" placeholder="带宽名称"
                           ng-model="bandwidth.name" ng-blur="testifyBandwidth()" required/>
                </div>
            </div>

            <div class="item">
                <label class="col-md-5">带宽状态<span class="required">*</span></label>
                <ul class="list-inline col-md-6">
                    <li class="first">
                        <select ng-model="bandwidth.bandwidthStateSelected"
                                ng-options="data.State for data in bandwidthStateList" required>
                            <option value="">---请选择---</option>
                        </select>
                    </li>
                    <li class="last" style="right:-44px;">
                        <button type="button" ng-click="showAddBandwidthState()" class="btn btn-default" style="margin-top:-9px; margin-left:17px;">
                            <i class="glyphicon glyphicon-plus"></i>添加
                        </button>
                    </li>
                </ul>
            </div>
            <div class="item">
                <label class="col-md-5">网络服务提供商<span class="required">*</span></label>
                <ul class="list-inline col-md-6">
                    <li class="first">
                        <select ng-model="bandwidth.ispSelected"
                                ng-options="data.Name for data in ispList" required>
                            <option value="">---请选择---</option>
                        </select>
                    </li>
                    <li class="last" style="right:-44px;">
                        <button type="button" ng-click="showAddIsp()" class="btn btn-default"  style="margin-top:-9px; margin-left:17px;">
                            <i class="glyphicon glyphicon-plus"></i>添加
                        </button>
                    </li>
                </ul>
            </div>
            <div class="item">
                <label class="col-md-5">采购最大带宽(百兆)<span class="required">*</span></label>
                <div class="col-md-7">
                    <input type="text"  name="maxBandwidth" placeholder="采购最大带宽(百兆)" ng-model="bandwidth.maxBandwidth" required/>
                </div>
            </div>
            <div class="item">
                <label class="col-md-5">保底带宽(百兆)<span class="required">*</span></label>
                <div class="col-md-7">
                    <input type="text"  name="minBandwidth" placeholder="保底带宽(百兆)" ng-model="bandwidth.minBandwidth" required/>
                </div>
            </div>
            <div class="item">
                <label class="col-md-5">保底费用(元)<span class="required">*</span></label>
                <div class="col-md-7">
                    <input type="text"  name="minCost" placeholder="保底费用(元)" ng-model="bandwidth.minCost" required/>
                </div>
            </div>
            <div ng-show="addMore">
                <div class="item">
                    <label class="col-md-5">单位成本(元/百兆)</label>
                    <div class="col-md-7">
                        <input type="text"  name="unitCost" placeholder="单位成本(元/百兆)" ng-model="bandwidth.unitCost"/>
                    </div>
                </div>
                <div class="item">
                    <label class="col-md-5">所属机房</label>
                    <div class="col-md-7">
                        <select ng-model="bandwidth.roomSelected"
                                ng-options="rows.RoomName for rows in roomList">
                            <option value="">---请选择---</option>
                        </select>
                    </div>
                </div>
                <div class="item">
                    <label class="col-md-5">所属机柜</label>
                    <div class="col-md-7">
                        <select ng-model="bandwidth.rackSelected"
                                ng-options="rows.RackName for rows in rackList">
                            <option value="">---请选择---</option>
                        </select>
                    </div>
                </div>
                <div class="item">
                    <label class="col-md-5">备注</label>
                    <div class="col-md-7">
                        <input type="text" name="comment" placeholder="备注" ng-model="bandwidth.comment"/>
                    </div>
                </div>
            </div>
            <!--更多详细信息-->
            <a class="moreinfo" ng-click="addmore()"><div>更多详细信息</div></a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-close" ng-click="addBandwidthCancel()">取消</button>
            <button class="btn btn-blues" ng-disabled="addBandwidthForm.$invalid">保存</button>
        </div>
    </form>

    <!--添加带宽状态弹出框 START-->
    <form id="addBandwidthState" class="modal fade" ng-submit="bandwidthState.addBandwidthState()">
        <div class="modal-dialog modal-state">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                        <div class="portlet-body form">
                            <div class="modal-body">
                                <div class="modal-item">
                                    <label>添加状态名称</label>
                                    <input type="text" class="form-control addstate" id="bandwidthState" placeholder="请输入状态名称" ng-model="addbandwidthState" required/>
                                </div>
                                <div class="modal-item" style="margin-top: 20px">
                                    <label>选中状态颜色</label>
                                    <ng-state-color colors="mycolors" selected="selectedColor"></ng-state-color>
                                    <p>*每个状态颜色独立，已选取的状态颜色不能重复选取</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-close">取消</button>
                    <button type="submit" class="btn btn-blues">保存</button>
                </div>
            </div>
        </div>
    </form>
    <!--添加带宽状态弹出框 END-->


    <!--添加网络服务提供商弹出框 START-->
    <form id="addIsp" name="internetServiceProviderfrom" class="modal fade" tabindex="-1" data-width="400">
        <div class="modal-dialog modal-state">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-titles">
                        <label>网络服务提供商</label>
                    </div>
                    <div class="modal-item">
                        <input class="form-control" ng-model="internetServiceProvider" required placeholder="请输入网络服务提供商">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-close">取消</button>
                    <button type="submit" class="btn btn-blues" ng-click="bandwidthState.addInternetProvider()" ng-disabled="internetServiceProviderfrom.$invalid">保存</button>
                </div>
            </div>
        </div>
    </form>
    <!--添加网络服务提供商弹出框 END-->
</script>
<!--添加带宽弹出框 END-->

<!-- 带宽状态弹出框-->
<script id="band_width_state.html" type="text/ng-template">
    <div class="inside-content" >
        <div class="modal-body">
            <h5 class="settings-h5"><a>配置带宽状态</a>
                <div class="exits" ng-click="settings.settingsCancel()">&times;</div>
            </h5>
            <div class="settings" ng-hide="showAddColors">
                <div ng-hide="showEditColors">
                    <ul class="list-unstyled">
                        <li class="item-inside" ng-repeat="state in BandWidthState">
                            <div class="inside">
                                <ol class="list-inline text-center first">
                                    <li style="background-color: {{state.Color}}"></li>
                                    <li>{{state.State}}</li>
                                </ol>
                                <ol class="list-inline text-center last" >
                                    <li><a class="maincolor" ng-click="settings.editState(state)"><i class="glyphicon glyphicon-pencil"></i>编辑</a></li>
                                    <li><a class="red" ng-click="settings.deleteState(state)"><i class="glyphicon glyphicon-trash"></i>删除</a></li>
                                </ol>
                            </div>
                        </li>
                        <li class="last">
                            <div ng-click="settings.addColors()">
                                <span class="icon-big">+</span>
                                <h6>添加新状态</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="showAddColors">
            <div class="modal-body">
                <div class="modal-item">
                    <label>添加状态名称</label>
                    <input type="text" class="form-control addstate" placeholder="请输入状态名称" ng-model="addbandwidthState" required/>
                </div>
                <div class="modal-item" style="margin-top: 20px">
                    <label>选中状态颜色</label>
                    <ng-state-color colors="mycolors" selected="selectedColor"></ng-state-color>
                    <p>*每个状态颜色独立，已选取的状态颜色不能重复选取</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close" ng-click="settings.addCancel()">取消</button>
                <button type="submit" class="btn btn-blues" ng-click="settings.addState()">保存</button>
            </div>
        </div>
        <div ng-show="showEditColors">
            <div class="modal-body">
                <div class="modal-item">
                    <label>编辑状态名称</label>
                    <input type="text" class="form-control addstate" placeholder="请输入状态名称" ng-model="editBandWidthState" required/>
                    <input type="hidden" class="hidden" ng-model="editBandWidthStateId" />
                </div>
                <div class="modal-item" style="margin-top: 20px">
                    <label>已选中状态颜色</label>
                    <ng-state-color colors="mycolors" selected="currentColor"></ng-state-color>
                    <p>*每个状态颜色独立，已选取的状态颜色不能重复选取</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close" ng-click="settings.editCancel()">取消</button>
                <button type="submit" class="btn btn-blues" ng-click="settings.editSave()">保存</button>
            </div>
        </div>
    </div>
</script>